.container {
    padding: 30vw 6vw;
}
.work { position: relative; align-items: baseline;
    .item { display: flex; margin-bottom: 17vw;
        &.t1 { justify-content: center; }
        &.t2 { justify-content: center; align-items: center; }
        &.t3 { justify-content: center; flex-direction: row-reverse;
            .discription { padding-left: 0px; padding-right: 15px; }
        }
        &.active {
            .discription {
                p {
                    span { animation: 1s itemFadein forwards; }
                    @for $i from 1 to 15 {
                        &:nth-child(#{$i}){
                            span {
                                animation-delay: $i*.1s;
                            }
                        }
                    }
                }
            }
        }
        .image {
            .image__name {
                line-height: 18px;
                padding-top: 10px;
                font-weight: bold;
            }
        }
        .discription { padding-left: 15px; font-weight: bold;
            p { line-height: 25px; overflow: hidden;
                span {
                    display: block;
                    transition: .5s ease;
                    transform: translate(0px, 21px);
                }
            }
        }
    }
}
.story { margin: 0px 10vw; font-size: 4vw; font-weight: bold;
    &.active {
        p {
            @for $i from 1 to 15 {
                &:nth-child(#{$i}){
                    span {
                        animation-delay: $i*.1s;
                    }
                }
            }
            span { animation: 1s storyFadein forwards; }
        }
    }
    p { height: 5vw; overflow: hidden;
        span {
            display: block;
            transition: .5s ease;
            transform: translate(0px, 4vw);
        }
    }
}
.age {
    position: relative;
    display: flex;
    margin: 20vw 0px;
    padding-left: 21.7vw;
    &.active {
        .inner {
            .front {
                animation: 1.5s ageFrontFadein forwards;
            }
            .back {
                animation: 1.5s ageBackFadein forwards;
            }
        }
    }
    .inner {
        display: flex;
        width: 100%;
        height: 421px;
        font-size: 16.55vw;
        font-weight: bold;
        letter-spacing: 40px;
        overflow: hidden;
        .front {
            display: flex;
            flex-direction: column;
            transform: translate(0px, -421px);
            transition: 2s ease;
        }
        .back {
            display: flex;
            flex-direction: column;
            transform: translate(0px, -421px);
            transition: 2s ease;
        }
    }
}
