.container { position: relative;
    &:before {
        content: '';
        position: fixed;
        top: -10rem;
        left: -10rem;
        width: calc(100% + 100rem);
        height: calc(100% + 100rem);
        background-image: url('./assets/image/common/noise.png');
        background-position: 50%;
        pointer-events: none;
        animation: noise 1s steps(2) infinite;
        opacity: .5;
    }
}
.circle { position: sticky; top: 0px; text-align: right; transform: translate(45px, 50px);
    img { width: 130px; animation: 10s circleRotate infinite linear; }
}
.work { position: relative; align-items: baseline;
    .item { display: flex; margin-bottom: 17vw;
        &:last-child { margin-bottom: 0px; }
        &.t1 { justify-content: center; }
        &.t2 { justify-content: center; }
        &.t3 { text-align: right; justify-content: center; flex-direction: row-reverse;
            .introduction { padding-left: 0px; padding-right: 30px; }
        }
        &.active {
            .introduction {
                p {
                    span { animation: 1s itemFadein forwards; }
                    @for $i from 1 to 15 {
                        &:nth-child(#{$i}){
                            span {
                                animation-delay: $i*.1s;
                            }
                        }
                    }
                }
            }
        }
        .image {
            .image__inner { background: rgba(255,255,255,0.25); box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%); }
            .image__name {
                line-height: 18px;
                padding-top: 30px;
                font-weight: bold;
            }
        }
        .introduction { padding-left: 30px; font-weight: bold;
            p { line-height: 25px; overflow: hidden;
                &.spec {
                    span { color: #bd1414; }
                }
                &.people {
                    span { color: #0b1da5; }
                }
                span {
                    display: block;
                    transition: .5s ease;
                    transform: translate(0px, 100%);
                }
            }
        }
    }
}
.story { margin: 10vw 10vw; font-size: 1.2vw; font-weight: bold;
    &.active {
        p {
            @for $i from 1 to 15 {
                &:nth-child(#{$i}){
                    span {
                        animation-delay: $i*.1s;
                    }
                }
            }
            span { animation: 1s storyFadein forwards; }
        }
    }
    p { height: 2vw; overflow: hidden;
        span {
            display: block;
            transition: .5s ease;
            transform: translate(0px, 4vw);
        }
    }
}
.about { position: relative; padding-left: 21.7vw;
    &.active {
        .inner {
            .age {
                .front {
                    animation: 1.5s ageFrontFadein forwards;
                }
                .back {
                    animation: 1.5s ageBackFadein forwards;
                }
            }
        }
    }
    .inner {
        .age {
            display: flex;
            width: 100%;
            height: 421px;
            font-size: 317px;
            font-weight: bold;
            letter-spacing: 40px;
            overflow: hidden;
            .front {
                display: flex;
                flex-direction: column;
                transform: translate(0px, -421px);
                transition: 2s ease;
            }
            .back {
                display: flex;
                flex-direction: column;
                transform: translate(0px, -421px);
                transition: 2s ease;
            }
            .text { letter-spacing: 10px; }
        }
        .name,.phone { font-size: 150px; font-weight: bold; }
    }
}
.contact { position: relative; padding-left: 21.7vw;
    &.active {
        .inner {
            .sub-title {
                p {
                    span { animation: 1s subTitleFadein forwards; }
                    &:nth-child(2) {
                        span { animation-delay: .3s; }
                    }
                    &:nth-child(3) {
                        span { animation-delay: .5s; }
                    }
                }
            }
        }
    }
    .inner { font-size: 2vw; counter-reset: item;
        .sub-title {
            display: flex;
            position: relative;
            padding-bottom: 2vw;
            margin-bottom: 10vw;
            border-bottom: 4px solid $black-color;
            font-size: 9vw;
            font-weight: bold;
            &:hover {
                &:before { transform: scaleX(1); transform-origin: left;}
            }
            &:before {
                content: '';
                position: absolute;
                bottom: -4px;
                left: 0px;
                width: 100%;
                border-bottom: 4px solid #edefe6;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.6s ease-out;
            }
            > p { padding-left: 50px; overflow: hidden;
                span { display: block; height: 100%; transform: translate(0px, 100%); }
            }
        }
        .item {
            position: relative;
            padding-bottom: 1vw;
            margin-bottom: 1vw;
            border-bottom: 1px solid #1d1d1b;
            &:before {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0px;
                width: 100%;
                border-bottom: 1px solid #edefe6;
                will-change: transform;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform .6s ease-out;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 20px;
                right: 0px;
                width: 30px;
                height: 30px;
                background: url('./assets/image/icon/i_more.svg') 0 0 no-repeat;
                background-size: 30px;
                transition: .5s ease;
            }
            &:hover {
                &:before { width: 100%;  transform: scaleX(1); transform-origin: left; }
                &:after { transform: rotate(-90deg); }
            }
        }
        .btn-more { font-size: 1vw; color: #f00; text-align: right; }
    }
}
