@media screen and ( max-width: 750px ) {
    #app {
        #nav { padding-top: 20px;
            ul {
                li { transform: translate(0px, 8vw); }
            }
        }
        #header {
            .email { bottom: 33vw; font-size: 20px; }
            .production { bottom: 14vw; line-height: normal; font-size: 14px;
                .text {
                    span { transform: translate(0px, 15px); }
                }
            }
            .name { top: auto; bottom: 50%;
                span { line-height: 11vw; font-size: 13.5vw; }
            }
            .point { top: auto; bottom: 45%; }
            .discription { bottom: 14vw;
                .text { font-size: 14px; }
            }
        }
        .footer--sticky {
            .inner {
                p { font-size: 12px; }
            }
        }
        .title {
            position: static;
            padding-bottom: 2vw;
            margin-bottom: 20vw;
            border-bottom: 1px solid #111;
        }
        #home {
            .work {
                .item { flex-direction: column;
                    .image {
                        .image__inner { width: 100%;
                            img { width: 100%; }
                        }
                        .image__name { padding-top: 10px; font-size: 12px; }
                    }
                    .discription { padding-left: 0px; padding-top: 30px; }
                }
            }
            .contact { padding-left: 0px;
                .inner { font-size: 8vw;
                    .sub-title {
                        > p { padding-left: 0px; }
                    }
                    .item {
                        &:after { bottom: 2vw; }
                    }
                }
            }
        }
        #experience { overflow: hidden;
            .prologue { margin: 30vw 0;
                .prologue--text {
                    height: 17vw;
                    line-height: 17vw;
                    font-size: 18vw;
                    letter-spacing: 0px;
                    &.effect-line {
                        &:after {
                            left: 29vw;
                            bottom: -7vw;
                            width: 50vw;
                            height: 12vw;
                        }
                    }
                    &.effect-dot {
                        width: auto;
                        .inner-dot { right: 33.5vw; }
                    }
                }
            }
            .exp__list__wrap {
                .exp__list {
                    .exp__list--marquee {
                        .marquee--text {
                            .text { line-height: 2; font-size: 10vw; }
                        }
                    }
                    .exp__list--link { line-height: 2; font-size: 10vw; }
                }
            }
        }
        #contact {
            .object__animation { overflow: hidden;
                .object { width: 50%;
                    .object__image {
                        img { width: 100%; }
                    }
                }
                .object__text--rotate {
                    div { font-size: 6vw; }
                }
            }
        }
        .footer--sticky {
            bottom: 5vw;
            margin: 10vw 6vw;
        }
        .footer {
            .widget {
                p { font-size: 12px;
                    span { font-size: 16px; }
                }
            }
        }
    }
}
